
/*====================
        FOOTER
======================*/

footer {
    padding:50px 0px;
    text-align: center;
    font-size: 60px;
    color: $color_white;
    background: $color_red;

    & .footer_copyright {
        font-size: 18px;
    }    

    & .footer_developer {
        text-decoration: none;
        color: $color_white;
        margin-top: 10%;
    }
}
