
/*====================
        CARROUSEL
======================*/

.carrousel{
    &_wrapper {
        height:700px;
        overflow: hidden;
    }

    &_image {
    
        background-size: cover !important;
    }
}

.artist_name {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 160px;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);   
    border: 2px solid $color_white;

    &  .wrapper {
        border: 2px solid $color_white;
        height: 121px;
        margin: 6px;
        text-align: center;
        color: $color_3;
        font-size: 40px;
        padding: 21px 70px 0px 70px;
        text-transform: uppercase;
    }
}